BinanceGroupAssignmentV2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>993b0666-0180-1000-6f7f-107793d53d9a</groupId>
    <name>BinanceGroupAssignmentV2</name>
    <snippet>
        <controllerServices>
            <id>0bc51a0e-8cf0-34be-0000-000000000000</id>
            <parentGroupId>479b5d52-8c54-3206-0000-000000000000</parentGroupId>
            <versionedComponentId>0bc51a0e-8cf0-34be-850a-edf01a6dc0f3</versionedComponentId>
            <bundle>
                <artifact>nifi-websocket-services-jetty-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>input-buffer-size</key>
                    <value>
                        <name>input-buffer-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>
                        <name>max-text-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>
                        <name>max-binary-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>
                        <name>websocket-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>
                        <name>connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>connection-attempt-timeout</key>
                    <value>
                        <name>connection-attempt-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>
                        <name>session-maintenance-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>
                        <name>user-name</name>
                    </value>
                </entry>
                <entry>
                    <key>user-password</key>
                    <value>
                        <name>user-password</name>
                    </value>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>
                        <name>authentication-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>custom-authorization</key>
                    <value>
                        <name>custom-authorization</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-host</key>
                    <value>
                        <name>proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-port</key>
                    <value>
                        <name>proxy-port</name>
                    </value>
                </entry>
            </descriptors>
            <name>JettyWebSocketClient</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>input-buffer-size</key>
                    <value>4 kb</value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>wss://stream.binance.com:9443/ws</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>1bbb0741-6cc7-3258-0000-000000000000</value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>3 sec</value>
                </entry>
                <entry>
                    <key>connection-attempt-timeout</key>
                    <value>3</value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>10 sec</value>
                </entry>
                <entry>
                    <key>user-name</key>
                </entry>
                <entry>
                    <key>user-password</key>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>US-ASCII</value>
                </entry>
                <entry>
                    <key>custom-authorization</key>
                </entry>
                <entry>
                    <key>proxy-host</key>
                </entry>
                <entry>
                    <key>proxy-port</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
        </controllerServices>
        <controllerServices>
            <id>1bbb0741-6cc7-3258-0000-000000000000</id>
            <parentGroupId>479b5d52-8c54-3206-0000-000000000000</parentGroupId>
            <versionedComponentId>1bbb0741-6cc7-3258-8c90-6a89270be30f</versionedComponentId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.16.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/lib/security/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <processGroups>
            <id>12284fa6-17cc-3ef5-0000-000000000000</id>
            <parentGroupId>479b5d52-8c54-3206-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>12284fa6-17cc-3ef5-b0c2-a1213ad5e542</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>594d6f3c-dbc2-355b-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>8f46d28f-b161-3cae-81fb-eaa7e0f1af1b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>c189c74b-4c23-3acc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85814271-09bf-34b2-bebf-7d831662a745</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>6ea1c77b-8ecf-3d87-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2102596f-8170-39cc-a6ba-3deee6747aaf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>780a7f5f-2d16-3fc6-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>06f25b3b-0da4-309b-92d5-2bbf2ef8952d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>3ef8c994-1e54-3fa0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0dea831-3248-3541-9759-87b7f61bb6e5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>ecff76b6-efbd-3545-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0fb9f82-c6ac-3dd2-8757-0231dd597566</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bec5dec0-c574-3eea-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>7374e993-0c27-3891-bdc1-57a608445b99</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>6ea1c77b-8ecf-3d87-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2102596f-8170-39cc-a6ba-3deee6747aaf</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>connected</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>5f01e519-a4ff-317a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6c4854c3-6a81-3566-8f8c-eecd29455022</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ced73d24-e0d5-3f44-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>ced73d24-e0d5-3f44-ae38-01d4229b18ee</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>e7584090-8a37-3dff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a472ca03-6a3f-3b57-a750-f593d0a903f9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>37fb45eb-af6c-36cf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>37fb45eb-af6c-36cf-80d3-ecdaef8a7454</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dcfbe600-bcb4-3f4b-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>ace85594-86f6-3daf-b224-521e32749fff</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>8525d9c3-6aef-3474-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3249658b-59b9-3eab-88ca-7f2c7e9dfa03</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>text message</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>5f01e519-a4ff-317a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6c4854c3-6a81-3566-8f8c-eecd29455022</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd1fe031-5fe2-3ddb-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>6a661eeb-a487-3f14-a165-b64fab9e9369</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>ecff76b6-efbd-3545-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0fb9f82-c6ac-3dd2-8757-0231dd597566</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>8525d9c3-6aef-3474-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3249658b-59b9-3eab-88ca-7f2c7e9dfa03</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd4ad9e8-3307-3196-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <versionedComponentId>fd4ad9e8-3307-3196-a258-db34c3a69e25</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>37fb45eb-af6c-36cf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>37fb45eb-af6c-36cf-80d3-ecdaef8a7454</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>12284fa6-17cc-3ef5-0000-000000000000</groupId>
                        <id>3ef8c994-1e54-3fa0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0dea831-3248-3541-9759-87b7f61bb6e5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>37fb45eb-af6c-36cf-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>1312.0</x>
                        <y>360.0</y>
                    </position>
                    <versionedComponentId>37fb45eb-af6c-36cf-80d3-ecdaef8a7454</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>kline_closed</key>
<value>
    <name>kline_closed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>kline_closed</key>
<value>${kline_closed:equals(true)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>3ef8c994-1e54-3fa0-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>632.0</x>
                        <y>352.0</y>
                    </position>
                    <versionedComponentId>b0dea831-3248-3541-9759-87b7f61bb6e5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>day</key>
<value>
    <name>day</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>hour</key>
<value>
    <name>hour</name>
</value>
                            </entry>
                            <entry>
<key>minute</key>
<value>
    <name>minute</name>
</value>
                            </entry>
                            <entry>
<key>month</key>
<value>
    <name>month</name>
</value>
                            </entry>
                            <entry>
<key>second</key>
<value>
    <name>second</name>
</value>
                            </entry>
                            <entry>
<key>year</key>
<value>
    <name>year</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>day</key>
<value>${timestamp:format('dd')}</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${timestamp:format('yyyyMMddHHmmss')}.json</value>
                            </entry>
                            <entry>
<key>hour</key>
<value>${timestamp:format('HH')}</value>
                            </entry>
                            <entry>
<key>minute</key>
<value>${timestamp:format('mm')}</value>
                            </entry>
                            <entry>
<key>month</key>
<value>${timestamp:format('MM')}</value>
                            </entry>
                            <entry>
<key>second</key>
<value>${timestamp:format('ss')}</value>
                            </entry>
                            <entry>
<key>year</key>
<value>${timestamp:format('yyyy')}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5f01e519-a4ff-317a-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-8.0</x>
                        <y>-40.0</y>
                    </position>
                    <versionedComponentId>6c4854c3-6a81-3566-8f8c-eecd29455022</versionedComponentId>
                    <bundle>
                        <artifact>nifi-websocket-processors-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>websocket-client-controller-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
    <name>websocket-client-controller-service</name>
</value>
                            </entry>
                            <entry>
<key>websocket-client-id</key>
<value>
    <name>websocket-client-id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>websocket-client-controller-service</key>
<value>0bc51a0e-8cf0-34be-0000-000000000000</value>
                            </entry>
                            <entry>
<key>websocket-client-id</key>
<value>20220604_aford</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConnectWebSocket</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>binary message</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>connected</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>text message</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
                </processors>
                <processors>
                    <id>6ea1c77b-8ecf-3d87-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-8.0</x>
                        <y>152.0</y>
                    </position>
                    <versionedComponentId>2102596f-8170-39cc-a6ba-3deee6747aaf</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{"method": "SUBSCRIBE","params":["btcusdt@kline_1m", "ethusdt@kline_1m", "dotusdt@kline_1m"],"id": 100}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>8525d9c3-6aef-3474-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>632.0</x>
                        <y>-40.0</y>
                    </position>
                    <versionedComponentId>3249658b-59b9-3eab-88ca-7f2c7e9dfa03</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>coin_pair</key>
<value>
    <name>coin_pair</name>
</value>
                            </entry>
                            <entry>
<key>epoch</key>
<value>
    <name>epoch</name>
</value>
                            </entry>
                            <entry>
<key>kline_closed</key>
<value>
    <name>kline_closed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>coin_pair</key>
<value>$.s</value>
                            </entry>
                            <entry>
<key>epoch</key>
<value>$.E</value>
                            </entry>
                            <entry>
<key>kline_closed</key>
<value>$.k.x</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c189c74b-4c23-3acc-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-8.0</x>
                        <y>352.0</y>
                    </position>
                    <versionedComponentId>85814271-09bf-34b2-bebf-7d831662a745</versionedComponentId>
                    <bundle>
                        <artifact>nifi-websocket-processors-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>websocket-session-id</key>
<value>
    <name>websocket-session-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-controller-service-id</key>
<value>
    <name>websocket-controller-service-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-endpoint-id</key>
<value>
    <name>websocket-endpoint-id</name>
</value>
                            </entry>
                            <entry>
<key>websocket-message-type</key>
<value>
    <name>websocket-message-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>websocket-session-id</key>
<value>${websocket.session.id}</value>
                            </entry>
                            <entry>
<key>websocket-controller-service-id</key>
<value>${websocket.controller.service.id}</value>
                            </entry>
                            <entry>
<key>websocket-endpoint-id</key>
<value>${websocket.endpoint.id}</value>
                            </entry>
                            <entry>
<key>websocket-message-type</key>
<value>TEXT</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutWebSocket</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
                </processors>
                <processors>
                    <id>e7584090-8a37-3dff-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>1312.0</x>
                        <y>152.0</y>
                    </position>
                    <versionedComponentId>a472ca03-6a3f-3b57-a750-f593d0a903f9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>writing-strategy</key>
<value>
    <name>writing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>
    <name>Ignore Locality</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/opt/hadoop3/etc/hadoop/core-site.xml,/opt/hadoop3/etc/hadoop/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/datalake/raw/binance/klines/${coin_pair}/${year}/${month}/${day}/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>append</value>
                            </entry>
                            <entry>
<key>writing-strategy</key>
<value>writeAndRename</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>ecff76b6-efbd-3545-0000-000000000000</id>
                    <parentGroupId>12284fa6-17cc-3ef5-0000-000000000000</parentGroupId>
                    <position>
                        <x>632.0</x>
                        <y>152.0</y>
                    </position>
                    <versionedComponentId>b0fb9f82-c6ac-3dd2-8757-0231dd597566</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>${epoch:toNumber():format("yyyy-MM-dd HH:mm:ss.SSS Z"):toDate("yyyy-MM-dd HH:mm:ss.SSS Z",
"CEST")}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Binance Group Assignment</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/14/2022 21:27:16 CEST</timestamp>
</template>
